@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/*General Configs.*/

:root {
    /*Colors*/
    --highlight-color: #C9F7AE;
    --shadow: #0000003a;

    /*Fonts*/
    --primary-font: "Montserrat", "sans-serif";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

body {
    height: 100vh;
}

/*FlexBox*/

body, .header, .footer, .section, .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Header*/

.navbar {
    width: 100%;
    padding: .1rem .4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--highlight-color);
    box-shadow: 1px 1px 2px var(--shadow);
}

.nav-logo-img {
    width: 40px;
}

.nav-items-container button {
    margin: 0 .2rem;
    border: none;
    background-color: var(--highlight-color);
}

.button {
    cursor: pointer;
}

.tittle-container {
    width: auto;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.tittle-logo {
    width: 80px;
}

.tittle {
    font-size: 1.2rem;
    font-weight: bold;
}

/*Main*/

.main {
    width: 90%;
    margin: auto;
    margin-top: 0;
    background-color: var(--highlight-color);
    border-radius: 10px;
    box-shadow: 1px 1px 2px var(--shadow);
}

.section {
    padding: 1rem;
    gap: 2rem;    
}

.form {
    gap: 1.5rem;
}

.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.form-subcontainer {
    text-align: center;
}

.form-text {
    padding-bottom: .5rem;
    text-align: start;
}

.form-select, .form-input {
    padding: .5rem .2rem;
    border: 1px solid rgba(0, 0, 0, 0.566);
    border-radius: 5px;
}

.form-select {
    width: 100%;
}

.form-input {
    width: 60%;
}

.buttons-container {
    text-align: center;
}

.submit {
    padding: 8px 12px;
    background-color: white;
    border: none;
    box-shadow: 1px 1px 2px var(--shadow);
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
    transition: all ease .2s;
}

.submit:active {
    background-color: whitesmoke;
}

.output-container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 6px;
    box-shadow: 1px 1px 1px var(--shadow);
}

.output-tittle {
    align-self: flex-start;
}

/*Footer*/

.footer {
    height: 2.5rem;
    background-color: var(--highlight-color);
}

.footer-text {
    text-align: center;
}

.footer-link {
    color: black;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

/*Media Queries*/

@media screen and (min-width: 1028px) {

    /*Header*/

    .tittle-container {
        flex-direction: column;
    }

    /*Main*/

    .main {
        width: 55%;
        margin: auto;
    }

    .output-container {
        width: 30%;
    }
}